.App-header {
  background-color: #ffffff;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 5px;
}

.App-logo {
  height: 75px;
  pointer-events: none;
}
