.snapshot {
  font-size: small;
  margin-top: 1em;
}

.description {
  text-align: left;
}

.codeblock {
  margin: 1rem;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.details {
  margin: 1rem;
}

.fab {
  letter-spacing: 2px;
}

.highlight {
  border-style: solid;
  border-width: 0.5px;
  border-color: red;
  padding: 1rem;
}