.main {
  min-height: 80vh;
  padding: 1rem 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  border-radius: 25px;
  background-color: white;
  margin: 1rem 0;
  padding: 20px 2em;
  border-style: solid;
  /* https://coolors.co/87b13f-1a81c2-13293d-fbfffe-6b0504 */
  border-color: #13293d;
  border-width: thin;
}