html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  color: #87b13f;
  /* https://coolors.co/87b13f-1a81c2-13293d-fbfffe-6b0504 + 'View shades' */
  text-shadow: 0 0 2px #d1e6b3;
}

h2 {
  color: #1a81c2;
}

a {
  color: #1a81c2;
  text-decoration: none;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
