.navbar {
  width: 100%;
}

.logo {
  pointer-events: none;
}

.navlink {
  font-style: normal;
}

.link,
.link>a {
  font-style: normal;
}

.link:hover,
.link>a:hover {
  color: #87b13f;
}

/* .navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
  color:#87b13f !important;
} */
